<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.name %>!</h1>
<p>
  unfortunately you have been remove from the team <%= @team.name %>
</p>
<p>
  You can still create your own team or join other teams.
</p>
<p>Thanks for using our service and have a great day!</p>
</body>
</html>