<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the team <%= @user.name %></h1>
    <p>
      You have successfully joined the team <%= @team.name %>
    </p>
    <p>
      This is your password <%= @team.token %>
    <p>
        <%= link_to 'Click here to visit the team', team_url(@team.id) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>