<h2 class="txt-center">Your request</h2>
<div class="container">
  <div class="row">
    <% @team_invitations.each do |team_invitation| %>
      <div class="col-4">
        <div class="card-container txt-center" style="width: 18rem;">
          <img class="card-img"
               src="https://images.unsplash.com/photo-1654267289447-62a7eaac6a60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"
               alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= team_invitation.member.user.full_name %></h5>
            <p class="card-text"><%= team_invitation.member.framework %></p>
            <%= button_to 'Aceptar',accept_request_team_invitations_path(id: team_invitation.id), method: :put ,class: 'button is-primary'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


