<div class="content">
  <div class="content__inner">
    <div class="container">
     <div class="container overflow-hidden">
      <div class="multisteps-form">
        <div class="row">
          <div class="col-12 col-lg-8 m-auto">
              <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                <h3 class="multisteps-form__title">Completa los siguientes campos</h3>
                  <div class="multisteps-form__content">
                    <div class="form-row mt-4">
                        <%= render 'teams/list_teams', teams: @teams%>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                    </div>
                  </div>
                </div>
                
              </div>
          </div>
        </div>
    </div>
    </div>
</div>

            
